.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  @apply border border-gray p-8;
}

.form_label {
  @apply text-dark;
}
.form_item {
  display: flex;

  flex-direction: column;
  gap: 0.5rem;
}
.form_input,
.form_select {
  @apply bg-gray-3 border border-gray p-4;
}
.form_error {
  @apply text-orange-4 text-2xl;
}

.form_item option {
  cursor: pointer;
  background-color: rgb(225, 221, 221);
}

.form_item option:hover {
  font-size: x-large;
  background-color: red;
}

.form_button {
  @apply bg-pink border-2 border-gray py-4 hover:bg-blue;
}
