.form {
  @apply border border-gray bg-white  p-8  mb-[10%] md:mb-4 gap-4 flex flex-col w-[90%] md:w-[50%] lg:w-[33%];
}

.form_label {
  @apply text-dark after:content-['*'] after:ml-0.5 after:text-red-500;
}
.form_item {
  display: flex;

  flex-direction: column;
  gap: 0.5rem;
}
.form_input,
.form_select {
  @apply bg-gray-3 border border-gray p-4 opacity-90;
}

.form_error {
  @apply text-orange-4 text-2xl;
}

.form_item option {
  cursor: pointer;
  background-color: rgb(225, 221, 221);
}

.form_item option:hover {
  font-size: x-large;
  background-color: red;
}

.form_button {
  @apply bg-pink border-2 justify-center border-gray py-6 hover:bg-blue flex;
}
/*
@apply flex w-full   bg-indigo-600 px-3 py-1.5 text-sm font-semibold  text-white shadow-sm 
*/
