.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form_input {
  padding: 0.5rem;
  border: 1px solid black;
}
.form_error {
  color: red;
}
.form_item option {
  cursor: pointer;
  background-color: rgb(225, 221, 221);
}
.form_item option:hover {
  font-size: x-large;
  background-color: red;
}
