/server/com.example.springsocial.entity.postRelated.Post/
# Spring Boot
/server/target/
!/server/.mvn/wrapper/maven-wrapper.jar
# Firebase
/server/src/main/resources/
# IDE/Editor specific
/server/.idea/
/server/.vscode/

# Maven
/server/log/
/server/*.log
/server/target/

# Eclipse
/server/.classpath
/server/.project
/server/.settings/

# IntelliJ IDEA
/server/*.iml
/server/*.ipr
/server/*.iws
/server/.idea/

##test
