# Spring Boot
/server/target/
!/server/.mvn/wrapper/maven-wrapper.jar
!/server/src/main/resources/application.properties

# Firebase
/server/**/firebase-adminsdk.json

# IDE/Editor specific
/server/.idea/
/server/.vscode/

# Maven
/server/log/
/server/*.log

# Eclipse
/server/.classpath
/server/.project
/server/.settings/

# IntelliJ IDEA
/server/*.iml
/server/*.ipr
/server/*.iws
