# IDE Specific files
**/.idea/
**/.vscode/
**/.project
**/.classpath
**/target/

# Maven/Gradle build files
**/pom.xml
**/build.gradle

# Test coverage reports
**/coverage/

# Spring Boot application properties
server/application.properties

# Specific configuration files (modify as needed)
server/firebase.json

# Ignore any OS specific temporary files
*.swp
*.log
*.pid

# Ignore any personal IDE settings files
*.iml

# Ignore generated class files from Lombok (if using)
**/.lombok.log
**/.projectlombok.log
