.search {
  padding: 1rem;

  background-color: var(--bg-white);
  border: 1px solid #ccc;
  border-radius: 5px;
  border-radius: 1.2rem;
}
.search::-webkit-search-cancel-button {
  cursor: pointer;
}
