.leftBar {
  overflow: auto;
  position: sticky;
  top: 7rem;
  order: 3;
  height: calc(100vh - 10rem);
  position: sticky;
  overflow: auto;
  flex: 0 0 35rem;
  width: 35rem;
  align-self: flex-start;
  @apply p-4 bg-white-2 border border-gray-4 rounded-t-xl;
}

@media (max-width: 900px) {
  /* Your CSS rules go here */
  .leftBar {
    display: none; /* Example rule: hides the element */
  }
}
